.profile {
  text-align: center;
  position: relative;

  width: 350px;
  padding: 20px;
  margin: 0 auto;
  width: 400px;
}

ul {
  list-style: none;
}
.avatar {
  width: 25%;
  height: 25%;
  border-radius: 50px;
}

.item {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPUtMH8e5znTXNvN5GC3567SySWshYe6LNAg&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
